In the previous quartal the revenue changed by {revenue_change}. The profit change was {profit_change} comparing to the same quartal of the previous year. And the current level of average check is {average_check}.
